<header class="navbar">
  <section class="navbar-section">

    <div>
      <a href="https://www.smartsupp.com/" id="logo">
        <img src="/assets/img/logo/smartsupp.svg" alt="Smartsupp">
      </a>
      <a href="{{ site.url_docs_root }}" id="docs-home">
        <span>| Docs</span>
      </a>
    </div>

    <ul class="nav">
      <li class="nav-item"><a href="{{ site.ca_url_customization }}" {% if page.url contains site.ca_url_customization %}class="active" {% endif %}>{{ site.ca_customization }}</a></li>
      <li class="nav-item"><a href="{{ site.ca_url_examples }}" {% if page.url contains site.ca_url_examples %}class="active" {% endif %}>{{ site.ca_examples }}</a></li>
      <li class="nav-item"><a href="{{ site.ca_url_javascript_api }}" {% if page.url contains site.ca_url_javascript_api %}class="active" {% endif %}>{{ site.ca_javascript_api }}</a></li>
    </ul>

  </section>
</header>
<!-- site-nav -->
