<header class="navbar">
  <section class="navbar-section">

    <div id="logo">
      <a href="{% if page.class == 'home-github' %}{{ site.pr_url }}{% else %}{{ site.url_docs_root }}{% endif %}">
        <span class="nav-logo">{{ site.pr_name }}</span>
      </a>
    </div>

    <ul class="nav">
      <li class="nav-item"><a href="{{ site.ca_url_customization }}" {% if page.url contains site.ca_url_customization %}class="active" {% endif %}>{{ site.ca_customization }}</a></li>
      <li class="nav-item"><a href="{{ site.ca_url_javascript_api }}" {% if page.url contains site.ca_url_javascript_api %}class="active" {% endif %}>{{ site.ca_javascript_api }}</a></li>
      <li class="nav-item"><a href="{{ site.ca_url_examples }}" {% if page.url contains site.ca_url_examples %}class="active" {% endif %}>{{ site.ca_examples }}</a></li>
    </ul>

  </section>
</header>
<!-- site-nav -->
