// header.scss

/**
  * Index
  * - Header
  * - Search
  * - Search Results
  *
  */

// HEADER

header {
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: $o_white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: 72px;
  border-bottom: 1px solid $o_grey_300;
}

#logo {
  position: relative;
  left: 25px;
  margin-right: 100px;
}

#logo a::after {
  content: "| Docs";
  color: $o_grey_300;
  display: block;
  position: absolute;
  top: 2px;
  left: 150px;
  width: 60px;
  text-align: center;
}

// NAV

.nav-logo {
  text-indent: -9999px;
  background: url("../img/logo/smartsupp.svg") no-repeat;
  display: block;
  width: 152px;
  height: 29px;
  margin: 0;
  padding: 0;
}

#nav-menu {
  margin: 0;
}

header ul {
  list-style-type: none;
  margin: 0;
}

header ul li {
  display: inline;
  font-weight: 700;
}

.nav {
  z-index: 4;
  display: inline;
  position: absolute;
  left: 313px;
  top: 0;
  padding: 0;
  margin: 0;
}

.nav .nav-item {
  font-weight: 500;
  line-height: 70px;
}

.nav .nav-item a {
  text-decoration: none;
  padding: 26px 10px;
  color: $c_primary_light;
}

.nav .nav-item a:hover {
  background: none;
  border: none;
  color: $c_primary;
  border-bottom: 2px solid $c_primary;
}

.nav .nav-item a.active {
  color: $c_primary;
  border-bottom: 2px solid $c_primary;
}

.error404 .nav,
.search-results .nav {
  display: none;
}

header ul li.navbar-item a {
  background: $o_grey_50;
  border: 1px dotted $o_grey_300;
  text-transform: uppercase;
  padding: 5px 15px;
  margin-right: 5px;
  border-radius: $radius_4;
}

header ul li a:hover {
  background: $o_grey_100;
  border: 1px dotted $o_grey_500;
  text-decoration: none;
}

header ul li.navbar-item-active a {
  border: 1px dotted $c_primary;
}

.home-github .navbar .nav,
.home-docs .navbar .nav {
  display: none;
}

// SEARCH

.docs-navbar .search {
  display: none;
}

.docs-nav .search {
  width: 212px;
  margin-top: 20px;
}

.home-github .navbar .search,
.home-docs .navbar .search {
  display: none;
}

.search .form-input {
  background: $o_white_2;
  border-radius: $radius_4;
}

.form-input:hover,
.form-input:focus {
  border-color: $c_primary;
}

.form-input:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(70, 147, 224, .2);
          box-shadow: 0 0 0 3px rgba(70, 147, 224, .2);
}

// Docs index page
.intro .search {
  width: 700px;
  text-align: center;
  margin: 30px auto 50px auto;
}

.intro .search .form-input {
  padding: 22px;
  font-size: 18px;
  border-radius: $radius_4;
}

.intro .search .form-input:focus {
  -webkit-box-shadow: 0 0 0 6px rgba(70, 147, 224, .2);
  box-shadow: 0 0 0 6px rgba(70, 147, 224, .2);
}

// SEARCH RESULTS

body.search-results ul {
  list-style-type: none;
}

#search-results-list a[href*="index"],
#search-results-list a[href*="index"] ~ p {
  display: none;
}

#search-results-list  {
  margin: 30px 0;
}

#search-results-list h2,
#search-results-list h3,
#search-results-list h4,
#search-results-list ul li a {
  color: $c_primary;
}

span.no-results {
  color: $o_red_500;
}
